@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-image: url('./Images/bg_5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.main{
    font-family: poppins, sans-serif;
    background-color: white;
    position: relative;
    top: 29%;
    left: 37%;
    padding: 1rem;
    width: 20%;
    border-radius: 15px;
  
}

.main h3{
    display: flex;
    justify-content: center;

}

.main p{
    display: flex;
    justify-content: center;

}

.main .btn{
    width:8rem;
    border-radius:5px;
    border:none;
    height: 2.5rem;
    cursor: pointer;
}

img{
    height: 220px;
    width: 280x;
    position: relative;
    left: 59%;
    top: 11%;
}



.main .btn:hover{
    background-color: #FF8080;
    color: white;
    font-size: 1rem;
}

.main:hover{
    background-color: #FFDFDF;
}

.demo{
        width: 100px;
        height: 100px;
        background: red;
        transition-property: height;
        transition-duration: 2s;
        transition-timing-function: linear;
        transition-delay: 1s;
      }
      
.demo:hover {
        width: 300px;
      }

     